In [ ]:
# single statement

In [1]:
price=int(input("enter price"))

if (price<900): print("less than 999")
else: print("more than 999")

enter price 677

less than 999

# Loop statements
### while loop
### for loop
### nested loop
### loop control ( break, continue and pass)

In [2]:
#while loop

joining_age=25
while joining_age<=60:
    print(joining_age)
    joining_age=joining_age+1
else:
    print("retirement")

25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
retirement

In [5]:
total_amount=2000
while total_amount !=0:
    print(total_amount)
    total_amount=total_amount-200
else:
    print("no money")

2000
1800
1600
1400
1200
1000
800
600
400
200
no money

# for loop

In [6]:
lst=["supram", "india", 2,45,56,7]

In [7]:
lst[0]

'supram'

In [8]:
lst[-1]

7

In [9]:
lst[5]

7

In [10]:
lst

['supram', 'india', 2, 45, 56, 7]

In [11]:
for x in lst:
    print(x)

supram
india
2
45
56
7

In [28]:
lst=["rahul","rohan","surbhi",34,56]

In [29]:
lst[2]

'surbhi'

In [30]:
lst

['rahul', 'rohan', 'surbhi', 34, 56]

In [31]:
for a in lst:
    print(a)

rahul
rohan
surbhi
34
56

In [33]:
fruit="banana"
for x in fruit:
    print(x)

b
a
n
a
n
a

In [35]:
fruit="banana"
for x in fruit:
    print(x,end='')

banana

## nested loop

In [37]:
for i in range(1,20):
    print(i)

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19

In [38]:
for i in range(1,20,2):
    print(i)

1
3
5
7
9
11
13
15
17
19

In [39]:
for i in range(1,20,3):
    print(i)

1
4
7
10
13
16
19

In [46]:
n=10
for i in range(0,n):
    for j in range(0,i+1):
        print("*",end="")
    print("\r")

*
**
***
****
*****
******
*******
********
*********
**********

In [55]:
n=10
for i in range(0,n):
    for j in range(0,i+2):
        print("*",end="")
    print("\r")

**
***
****
*****
******
*******
********
*********
**********
***********

In [56]:
# loop control

In [61]:
fruit_list=["mango","banana","apple","pineapple","grapes","cherry"]

In [64]:
for i in fruit_list:
    if i=="apple":
        print("the fruit is apple")
        break
    
    print(i)

mango
banana
the fruit is apple

In [65]:
n=[1,223,45,67,89]

In [70]:
for i in n:
    if i==45:
        print("its 45")
        break
    print(i)

1
223
its 45

In [71]:
for i in fruit_list:
    if i=="apple":
        print("the fruit is apple")
        pass
    
    print(i)

mango
banana
the fruit is apple
apple
pineapple
grapes
cherry

In [72]:
for i in fruit_list:
    if i=="apple":
        print("the fruit is apple")
        continue
    
    print(i)

mango
banana
the fruit is apple
pineapple
grapes
cherry

In [73]:
d=4